header {
  /* background-color: darkseagreen; */
  background-color: rgb(143, 188, 143, 50%);
}
#hpmdHeader {
  text-align: center;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    /* border-color: black; */
    table-layout: fixed;
    width: 100%;
  }
  
td, th {
  border: None;
  text-align: center;
  padding: 5px;
}

.paypalP {margin: 0}

/* div {
  border: solid;
  color: black;
} */
/* tr:nth-child(even) { */
  /* background-color: #dddddd; */
/* } */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  top:5;
  right:0;
  width: 100%;
  text-align: center;
  padding: 3px;
}

/* #buckImage {
  max-width: 6%;
  height: auto;
} */
/* 
#donateButton {
  cursor: pointer;
  border-radius: 10px;
  background-color: #4CAF50;
  border: solid;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
} */