#headerInfo {
    position: sticky;
    top:0;
    background:rgba(255,255,255, 0.6);
    text-align: right;
    width: 95%;
    margin: 5px;
    z-index: 700;
}
/* #mapid {
    margin: auto;  
    height: 300px;
    width: 75%;
  padding: 10px;
} */

#mapid {
  margin: auto;
  width: 85%;
  height: 400px;
  padding: 10px;
  border-style: solid;
  border-width: thin;
  border-color: black;
}

#basemaps-wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 600;
  background: white;
  padding: 10px;
  }

#basemaps {
  margin-bottom: 5px;
  }

/* For the collapsable functionality */
.collapsible {
  background-color: rgb(205, 203, 203);
  /* color: white; */
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: solid 1px;
  /* border-style: solid; */
  text-align: left;
  outline: none;
  font-size: 20px;
}

.active, .collapsible:hover {
  background-color: rgb(159, 159, 159);
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;

  /* background-color: #f1f1f1; */
}
.contentImg {
  padding: 0 18px;
  display: none;
  overflow: auto;

  /* background-color: #f1f1f1; */
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 3px;
}