#headerInfo {
    position: sticky;
    top:0;
    background:rgba(255,255,255, 0.6);
    text-align: right;
    width: 95%;
    margin: 5px;
}
#huntLocMapPane {
    /* Doesn't seem to work as I want it, to center div */
    margin: auto;  
    height: 300px;
    width: 50%;
  padding: 10px;
}